<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wwr">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProposedWalkDetails"></activity>
        <activity android:name=".TeamRouteDetail" />
        <activity
            android:name=".InviteScreenActivity"
            android:label="@string/title_activity_invite_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProposeWalkActivity"
            android:label="@string/title_activity_propose_walk"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".AddMemberActivity"
            android:label="@string/title_activity_add_member"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TeamPageScreen" />
        <activity android:name=".TeamRouteScreen" />
        <activity android:name=".LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AskHeight_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RoutesActivity" />
        <activity android:name=".RouteDetail" />
        <activity android:name=".RouteScreen" />
        <activity
            android:name=".WalkScreenActivity"
            android:label="@string/title_activity_walk_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TeamRequestActivity"
            android:label="TeamRequestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>